<<<<<<< HEAD
<div class="partial" id="about_partial" style="display:none;">
	<hr class="about-line-top">

	<div><%= image_tag image_path('chrisandtyler.jpg'), class: "img-responsive chrisandtyler-img" %></div>
	
		<div class="about-info">
		<p>Never let the unknown restrain your aspirations.</p> 
		<p>We established J.P. Jennings, Co. with the idea</p> 
		<p>that together, we can all succeed. Our main</p> 
		<p>objective is to help select businesses achieve</p> 
		<p>their fullest potential by tailoring lucid</p> 
		<p>strategies and executing streamlined procedures.</p> 
		<p>As every project is unique in itself, we personally</p> 
		<p>work with each of our clients as if their project were</p> 
		<p>our very own. Partner with our team to expose new</p> 
		<p>growth in your business through our creative process.</p> 
		<p>We view the business world differently.</p> 
		<p>Follow us.</p>
	</div>
	<div><hr class="about-line-bottom"></div>
	<center><p class="about-bottom-info">© 2016   J.P. Jennings, Co.  Bethlehem, PA.  All Rights Reserved.</p></center>	
=======
<div class="partial" id="about_partial">
	<%= image_tag image_path('jpjenningsblacklogo.png'), class: "img-responsive about-img center-block" %>
	<center><div class="about-info">	
		<p>Established in 2015, J.P. Jennings, Co. was formed by founders Tyler J. Grady</p>
		<P>and Christopher P. Burcin. The main objective, to help other businesses achieve</P>
		<P>maximum efficiency by tailoring well thought out strategies and executing</P>
		<P>streamlined procedures. With many success stories under their belt, see what J.P.</P>
		<P>Jennings and team can do for you.</P>
	</div></center>
	<a href="#" onclick="scrollFunction('why-section')"><%= image_tag image_path('learn_more.png'), class: "img-responsive learn-more-img" %></a>
</div>	

>>>>>>> 9cab43e7eef08e1e897919eacdefd7a04f85ee93
