<div class="partial" id="about_partial" style="display:none;">
	<hr class="about-line-top">

	<div><%= image_tag image_path('chrisandtyler.jpg'), class: "img-responsive chrisandtyler-img" %></div>
	
		<div class="about-info">
		<p>Never let the unknown restrain your aspirations.<br>
		Through our studied evaluation and hard-earned experience,<br> 
		we have found that true success in business is predicated<br> 
		on a combination of industry knowledge, hard work, a bit of<br> 
		luck, and talented people—really talented people. J.P. Jennings,<br> 
		Co. was founded on the fundamental principle that when you bring<br> 
		talented people together—in just the right mix—and apply work<br> 
		ethic, experience, and good timing, the odds of success increase<br> 
		exponentially. Following this philosophy, we have worked to curate<br> 
		a team of the highest level creative professionals and strategists.<br> 
		At any given time, we assist only a handful of select businesses in<br> 
		achieving their fullest potential by tailoring lucid strategies and<br> 
		executing streamlined procedures. As each project is unique in itself,<br> 
		we personally work with our clients as if their projects were our<br> 
		very own. Partner with our team to expose new growth in your business<br> 
		through our creative process. We view the business world differently:<br>  
		Join us.</P>
	</div>
	<div><hr class="about-line-bottom"></div>
	<center><p class="about-bottom-info">© 2016   J.P. Jennings, Co.  Bethlehem, PA.  All Rights Reserved.</p></center>	
