<<<<<<< HEAD
<div class="partial" id="about_partial" style="display:none;">
	<hr class="about-line-top">

	<div><%= image_tag image_path('chrisandtyler.jpg'), class: "img-responsive chrisandtyler-img" %></div>
	
<<<<<<< HEAD
		<div class="about-info-top">
		<p>Through our studied evaluation and hard-earned experience, we have found that</p> 
		   <p>true success in business is predicated on a combination of industry knowledge,</p> <p>hard work, a bit of luck, and talented people—really talented
		   people.</p>
		</div>  
		<div class="about-info-bold"><strong>
			<p>J.P. Jennings, Co. was founded on the fundamental</p> 
			<p>principle that when you bring talented people together—in</p> 
			<p>just the right mix—and apply work ethic, experience, and</p> 
			<p>good timing, the odds of success increase exponentially.</p> 
			<p>Following this philosophy, we have worked to curate a team</p> 
			<p>of the highest level creative professionals and strategists.</p></strong></div>
			<div class="about-info-bottom">
		<p>At any given time, we assist only a handful of select businesses in achieving</p> 
		  <p>their fullest potential by tailoring lucid strategies and executing streamlined</p> <p>procedures. As each project is unique in itself, we personally work with our clients </p> 
		<p>as if their projects were our very own. Partner with our team to expose new growth</p> <p>in your business through our creative process. We view the business world</p> <p>differently.<strong><em> Join us.</em></strong></p>
	</div>
	<div><hr class="about-line-bottom"></div>
	<center><p class="about-bottom-info">Copyright © 2016 J.P. Jennings, Co. All rights reserved.</p></center>	
=======
		<div class="about-info">
		<p>Never let the unknown restrain your aspirations.<br>
		Through our studied evaluation and hard-earned experience,<br> 
		we have found that true success in business is predicated<br> 
		on a combination of industry knowledge, hard work, a bit of<br> 
		luck, and talented people—really talented people. J.P. Jennings,<br> 
		Co. was founded on the fundamental principle that when you bring<br> 
		talented people together—in just the right mix—and apply work<br> 
		ethic, experience, and good timing, the odds of success increase<br> 
		exponentially. Following this philosophy, we have worked to curate<br> 
		a team of the highest level creative professionals and strategists.<br> 
		At any given time, we assist only a handful of select businesses in<br> 
		achieving their fullest potential by tailoring lucid strategies and<br> 
		executing streamlined procedures. As each project is unique in itself,<br> 
		we personally work with our clients as if their projects were our<br> 
		very own. Partner with our team to expose new growth in your business<br> 
		through our creative process. We view the business world differently:<br>  
		Join us.</P>
	</div>
	<div><hr class="about-line-bottom"></div>
	<center><p class="about-bottom-info">© 2016   J.P. Jennings, Co.  Bethlehem, PA.  All Rights Reserved.</p></center>	
=======
<div class="partial" id="about_partial">
	<%= image_tag image_path('jpjenningsblacklogo.png'), class: "img-responsive about-img center-block" %>
	<center><div class="about-info">	
		<p>Established in 2015, J.P. Jennings, Co. was formed by founders Tyler J. Grady</p>
		<P>and Christopher P. Burcin. The main objective, to help other businesses achieve</P>
		<P>maximum efficiency by tailoring well thought out strategies and executing</P>
		<P>streamlined procedures. With many success stories under their belt, see what J.P.</P>
		<P>Jennings and team can do for you.</P>
	</div></center>
	<a href="#" onclick="scrollFunction('why-section')"><%= image_tag image_path('learn_more.png'), class: "img-responsive learn-more-img" %></a>
</div>	

>>>>>>> 9cab43e7eef08e1e897919eacdefd7a04f85ee93
>>>>>>> 8004fb70f6ac24fae01f46ba91c89bc42aedd6c2
