<div class="partial" id="about_partial">
	<%= image_tag image_path('jpjenningsblacklogo.png'), class: "img-responsive about-img center-block" %>
	<center><div class="about-info">	
		<p>Established in 2015, J.P. Jennings, Co. was formed by founders Tyler J. Grady</p>
		<P>and Christopher P. Burcin. The main objective, to help other businesses achieve</P>
		<P>maximum efficiency by tailoring well thought out strategies and executing</P>
		<P>streamlined procedures. With many success stories under their belt, see what J.P.</P>
		<P>Jennings and team can do for you.</P>
	</div></center>
	<a href="/#why-section"><%= image_tag image_path('learn_more.png'), class: "img-responsive learn-more-img" %></a>
</div>	

