<div class="partial" id="contact_partial" style="display:none;">
	<center><h1 class="contact-text">CONTACT</h1></center>
	<%= image_tag image_path('jpjenningslogo.png'), class: "img-responsive contact-main-img"%>
</div>	
<%= image_tag image_path('whiteicon.png'), class: "img-responsive contact-icon-img" %>

