<div class="partial" id="contact_partial" style="display:none;">
<<<<<<< HEAD
	<hr class="contact-line-top">

<<<<<<< HEAD
	<center class="contact-information">
		<strong><p>COMING SOON</p></strong>
<p><strong>e</strong> contact@jpjennings.co</p>
<p><strong>o</strong> 610.849.2213</p>
</center>


	<div><hr class="contact-line-bottom"></div>
	<center><p class="contact-bottom-info">Copyright © 2016 J.P. Jennings, Co. All rights reserved.</p></center>	
</div>	
=======
	<center><div class="contact-info"><p> 610.849.2213</p>

<p>contact@jpjennings.co</p>

<p>715 Jennings Street, 2nd Floor, Bethlehem, PA 18017</p></div></center>

	<div><hr class="contact-line-bottom"></div>
	<center><p class="contact-bottom-info">© 2016   J.P. Jennings, Co.  Bethlehem, PA.  All Rights Reserved.</p></center>	
</div>	
=======
	
	
</div>	
>>>>>>> 9cab43e7eef08e1e897919eacdefd7a04f85ee93
>>>>>>> 8004fb70f6ac24fae01f46ba91c89bc42aedd6c2
