<div class="partial" id="contact_partial" style="display:none;">
	<hr class="contact-line-top">

	<center><h1>FUCK YOU!!!</h1></center>

	<div><hr class="contact-line-bottom"></div>
	<center><p class="contact-bottom-info">© 2016   J.P. Jennings, Co.  Bethlehem, PA.  All Rights Reserved.</p></center>	
</div>	