<<<<<<< HEAD
<div class="partial" id="services_partial" style="display:none;">
	
<hr class="services-line-top">
<div><%= image_tag image_path('servicesimage.jpg'), class: "img-responsive servicesimage-img center-block" %></div>
	<div class="services-info">
		<p> Branding</p>
        <p> Business Development</p>
        <p> Marketing</p>
        <p> Product Development</p>
        <p> Sales</p>
        <p> Social Media Management</p>
        <p> Website Design</p>
	</div>
	<div><hr class="services-line-bottom"></div>
	<center><p class="services-bottom-info">© 2016   J.P. Jennings, Co.  Bethlehem, PA.  All Rights Reserved.</p></center>
=======
<div class="partial" id="services_partial">
	
	 <div class="services-options">
                <p>SERVICES | </p>
            </div>
            <div class="services-options-list">
            	<p> - Online Marketing </p>
            	<p> - Branding</p>
            	<p> - Web Design </p>
            	<p> - Social Media Management </p>
            	<p> - Search Engine Optimization </p>
            	<p> - Strategy Consulting </p>
            </div>

            <%= image_tag image_path('birds.png'), class: "img-responsive birds-img center-block" %>
	

	
	
</div>	
>>>>>>> 9cab43e7eef08e1e897919eacdefd7a04f85ee93
