<div class="partial" id="services_partial">
	
	 <div class="services-options">
                <p>SERVICES | </p>
            </div>
            <div class="services-options-list">
            	<p> - Online Marketing </p>
            	<p> - Branding</p>
            	<p> - Web Design </p>
            	<p> - Social Media Management </p>
            	<p> - Search Engine Optimization </p>
            	<p> - Strategy Consulting </p>
            </div>

            <%= image_tag image_path('birds.png'), class: "img-responsive birds-img center-block" %>
	

	
	
</div>	