<div class="partial" id="services_partial" style="display:none;">
	
<hr class="services-line-top">
<div><%= image_tag image_path('servicesimage.jpg'), class: "img-responsive servicesimage-img center-block" %></div>
<div class="services-paragraph">
    <strong><em><p>Never let the unknown restrain your aspirations.</strong></em> Our team will</p>
    <p>become a part of your business, helping you maximize efficiency </p> 
       <p>and cultivate new ideas for growth. </p> 
       <br>
       <br>
        <p>Services that we provide include:</p>
</div>
	<div class="services-info">
		<strong><p> Branding</p>
        <p> Business Development</p>
        <p> Marketing</p>
        <p> Product Development</p></strong>
    </div>
    <div class="services-info-bottom">
        <strong><p> Sales</p>
        <p> Social Media Management</p>
        <p> Strategy & Planning</p>
        <p> Website Design</p></strong>
        	</div>
	<div><hr class="services-line-bottom"></div>
	<center><p class="services-bottom-info">Copyright © 2016 J.P. Jennings, Co. All rights reserved.</p></center>