<div class="partial" id="services_partial">
	<p class="why-heading">
		Why Consulting Companies <br>
		Need To Think Differently
	</p>	
	<p class="why-paragraph">
		Technology moves fast in 2015. Ideas that<br>
		once took decades to cultivate, now take a<br>
		matter of months. J . P . Jennings recognizes<br>
		and embraces the technilogical shift that the<br>
		world has seen over the past 15 years. It<br>
		recognizes the shift the world will see over<br>
		the next 15 years. Together, our team can help<br>
		you accomplish your goals, and change the world!

	</p>
	<%= image_tag image_path('icon.jpg'), class: "img-responsive why-icon-img center-block" %>
	</div>	