<div class="partial" id="services_partial">
	<p class="why-heading">
		Why Consulting Companies <br>
		Need To Think Differently
	</p>	
	<%= image_tag image_path('icon.jpg'), class: "img-responsive why-icon-img center-block" %>
	</div>	