<body class="homepage">
<div class="wrapper">
	<div class="logo-wrapper">
	<%= image_tag image_path('jpjenningslogo.png'), class: "logo" %>
	<%= image_tag image_path('jpjenningsicon.png'), class: "icon" %>

		</div>

</div>

<nav class="navigation">
	<strong><a class="links" href="/about"> ABOUT </a></strong>
	<strong><a class="links" href="/services"> SERVICES </a></strong>
	<strong><a class="links" href="/news"> NEWS </a></strong>
	<strong><a class="links" href="/contact"> CONTACT </a></strong>
</nav>
</body>