
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-12 text-center">
            <%= image_tag image_path('jpjenningslogo.png'), class: "img-responsive main-img center-block" %>
        </div>
        <hr>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center main-section">
            aeljhrbaelrghbaeljrg
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-12 text-center">
            <%= image_tag image_path('jpjenningsicon.png'), class: "img-responsive bottom-img center-block" %>
        </div>
    </div>
</div>