<body class="homepage">
    <div class="row">
      <div class="col-md-6 text-center lead"></div>
      <div class="col-md-6 text-center">
          <div class="row">
              <div class="col-xs-12">
                  <h1>Mission Statement</h1>
              </div>
              <div class="col-xs-12">
                  <p class="lead">
                      TEST TEXT
                  </p>
              </div>

          </div>
      </div>
    </div>
</body>