<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Welcome</title>
		<link rel="stylesheet" href="main.css">
</head>
<body>
	<center><h1>WELCOME!!!</h1></center>

<a href="/users/sign_out" data-method= "delete">
	Log out
</a>


</body>
</html>

