
.main-img {
    padding-top: 40px;
    max-height: 150px;
    margin-top: -117px;
}
.bottom-img {
    max-height: 150px;
}
.top-page {
	background-image: url('https://s-media-cache-ak0.pinimg.com/originals/1d/f7/81/1df78147c4a8f5f19867a1a0cd0ea3c1.gif');
    border-bottom: 5px;
    border-color: black;
        background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.about-partial {
    height: 50vh;
}
.chrisandtyler-img {
    height: 600px;
    padding-left: 175px;
}


.main-page-links {
	padding-left: 0px;
    font-family: BrandonGrotesque-Light;
    color: white;
    font-size: 25px;
    margin-top: -20px;
}

.landing-page-line {
	width: 786px;
}

.landing-page-icon {
    height: 100px;
    padding-left: 1270px;
    margin-top: 299px;

}
.about-section {
	height: 0vh;
}

.jpjenningsicon-img {
	height: 61px;
    padding-left: 926px;
}

.services-section {
	height: 0vh;
}

.services-icon {
	height: 61px;
    padding-left: 689px;
    margin-top: 115px;
}

.overlay {
	position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 z-index: 10;
 background-color: rgba(0,0,0,0.1);
}

.text-wrapper {
	margin-top: 3%;
}

.top-layer {
	z-index: 11;
}


.spacer {
	height: 40vh;
	width: 100%;
}

.main-page-link {
	color: white;
}

a {
	color: white;
}

a:hover {
	text-decoration: none;
	color: lightgrey;
}

a:visited {
	text-decoration: none;
	color: white;
}

a:focus {
	text-decoration: none;
	color: white;
}

#about_partial {
	min-height: 100vh;
}


#services_partial {
	min-height: 100vh;
}

#clients_partial {
	min-height: 100vh;
}

#contact_partial {
	min-height: 100vh;
}

.about-heading {
	font-family: BrandonGrotesque-Light;
    color: #000000;
    font-size: 40px;
    
}

.about-info {
	font-family: BrandonGrotesque-Light;
    color: #000000;
    font-size: 25px;
    padding-left: 683px;
    margin-top: -593px;

}

.about-line-top {
	width: 85%;
    padding-top: 10px;
    margin-top: 40px;
	border: 0;
    border-top: 3px solid #000000;
}

.about-line-bottom {
	width: 85%;
    margin-top: 62px;
    border: 0;
    border-top: 3px solid #000000;
}

.services-line-top {
    width: 85%;
    padding-top: 10px;
    margin-top: 40px;
    border: 0;
    border-top: 3px solid #000000;
}

.services-line-bottom {
    width: 85%;
    margin-top: 172px;
    border: 0;
    border-top: 3px solid #000000;
}

.clients-line-top {
    width: 85%;
    padding-top: 10px;
    margin-top: 40px;
    border: 0;
    border-top: 3px solid #000000;
}

.clients-line-bottom {
    width: 85%;
    margin-top: 165px;
    border: 0;
    border-top: 3px solid #000000;
}

.contact-line-top {
    width: 85%;
    padding-top: 10px;
    margin-top: 40px;
    border: 0;
    border-top: 3px solid #000000;
}

.contact-line-bottom {
    width: 85%;
    margin-top: 310px;
    border: 0;
    border-top: 3px solid #000000;
}

.about-bottom-info {
    font-family: BrandonGrotesque-Regular;
}

.services-bottom-info {
    font-family: BrandonGrotesque-Regular;
}

.clients-bottom-info {
    font-family: BrandonGrotesque-Regular;
}

.contact-bottom-info {
    font-family: BrandonGrotesque-Regular;
}

.services-heading {
    font-family: BrandonGrotesque-Light;
    color: #000000;
    font-size: 45px;
    margin-right: 844px;
    
}

.services-info {
	font-family: BrandonGrotesque-Light;
    color: #000000;
    font-size: 32px;
    margin-top: -516px;
    padding-left: 850px;
}

.clients-info {
    font-family: BrandonGrotesque-Light;
    color: #000000;
    font-size: 20px;
    padding-top: 120px;
}

.contact-info {
    font-size: 21px;
    margin-top: 250px;
}

.birds-img {
	padding-left: 902px;
    margin-top: -339px;
}

.servicesimage-img {
    height: 605px;
    padding-right: 550px;
    margin-top: 20px;

}

.herring-img {
    height: 156px;
    padding-right: 728px;
    margin-top: -29px;
    padding-top: 49px;
}

.sports-img {
    height: 176px;
    margin-top: -131px;
}

.babka-img {
    height: 154px;
    margin-top: -168px;
    padding-left: 675px;
}

.original-img {
    height: 91px;
    margin-top: -83px;
    padding-left: 687px;
}

.butterbuddy-img {
    height: 154px;
    margin-top: 42px;
    padding-right: 738px;
}

.blicard-img {
    height: 67px;
    margin-top: -100px;
}
